click==8.0.1
bcrypt==3.1.7
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
gunicorn==20.1.0
html5lib==1.0.1
httplib2==0.14.0
Jinja2==3.0.2
mysqlclient==1.4.4
pep8==1.7.1
pep8-naming==0.12.1
python==3.7.6
requests==2.22.0
SQLAlchemy==1.4.22
ufw==0.36
urllib3==1.25.8
virtualenv==20.7.2
Werkzeug==2.0.1
WTForms==3.0.1