html body {
	background-color: cadetblue;
	padding-left: 10px;
	padding-top: 10px;
	font-family: monospace;
}

h4 {
	color: #377ba8;
}

div p {
	color: darkgray;
}
input[name=username] {
  /*color: white;*/
  margin: 8px 0;
  border-radius: 4px;
  padding: 14px 20px;
}

input[name=password] {
  /*color: white;*/
  margin: 8px 0;
  border-radius: 4px;
  padding: 14px 20px;
}


input[name=submit] {
  background-color: skyblue;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
 
}

div p a {

}