{% extends 'base.html' %}

{% block head %}<title>FitLog-show_all</title>{% endblock head %}

{% block body %}
<a href="{{ url_for('dashboard') }}">Home</a>
<a href="{{ url_for('create') }}">ADD</a>
<br>
<table>
  <thead>
    <th>Workout Id</th>
    <th>Created At</th>
    <th>Exercise</th>
    <th>Notes</th>
  </thead>
  {% for data in workout %}
  <tbody>
    <td>{{data.id}}</td>
    <td>{{data.created_at.strftime('%d.%m.%y')}}</td>
    <td><a href="{{ url_for('update_workout', id=data.id) }}">{{data.exercise}}</a></td>
    <td>{{data.notes}}</td>
  </tbody>
  {% endfor %}
</table>
  {% endblock body %}
